.profile__info {
  max-width: 336px;
  margin-right: 244px;
  display: grid;
  margin-left: 30px;
}

@media screen and (max-width: 933px) {
  .profile__info {
    margin: 0 auto;
    text-align: center;
    margin: 26px 0 36px 0;
  }
}

@media screen and (max-width: 767px) {
  .profile__info {
    margin: 26px 0 36px 0;
  }
}